.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: calc(infinity);
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
}