name: Build and Tag Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set git user
        run: |
          git config user.email "zham.drag@gmail.com"
          git config user.name "mudretz"

      - name: Install dependencies
        run: npm install

      - name: Build the project
        run: npm run build

      - name: Add built files and commit
        run: |
          git add dist/
          git commit -m "Add built files"

      - name: Push built files to the current branch
        env:
          TOKEN: ${{ secrets.PAT_TOKEN }}
        # run: |
        #   git push origin HEAD:${{ github.ref }}

      - name: Push updated tag
        env:
          TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          git tag -f ${{ github.ref }}  # Перезапись тега с обновлёнными файлами
          git push origin --tags --force
