name: Build and Tag Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set git user
        run: |
          git config user.email "zham.drag@gmail.com"
          git config user.name "mudretz"

      - name: Install dependencies
        run: npm install

      - name: Build the project
        run: npm run build

      - name: Add built files and commit
        run: |
          git add dist/
          git commit -m "Add built files"

      - name: Push updated tag
        env:
          TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          # Извлекаем имя тега из github.ref
          CURRENT_TAG=$(echo "${{ github.ref }}" | sed 's|refs/tags/||')
          git tag -f $CURRENT_TAG  # Перезапись тега с обновлёнными файлами
          git push origin --tags --force

      - name: Push built files to main branch
        env:
          TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          # Переключаемся на ветку main
          git checkout main
          
          # Мерджим изменения с текущей ветки в main
          git merge ${{ github.sha }} --no-ff

          # Пушим изменения в ветку main
          git push origin main
